a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
nav{
  background-color: #ff7f0e !important;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.text-dark{
  color: white !important;
}
.navbar-brand{
  color: white !important;
}
.logo {
  width: 40px; /* Set the width of the container */
  height: 40px; /* Set the height of the container */
  border-radius: 50%; /* Create a circular shape */
  overflow: hidden; 
  margin-right:10px ;
}

.logo img {
  vertical-align: middle; /* Align the image vertically with text */
}

