<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" [routerLink]="['/']">Գովազդային Գործակալություն</a>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                <ul class="navbar-nav flex-grow">
                    <li class="nav-item"
                        [routerLinkActive]="['link-active']"
                        [routerLinkActiveOptions]="{ exact: true }">
                        <a class="nav-link text-dark" [routerLink]="['/']">Գլխավոր</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/buyAll">Վաճառք</a>
                    </li>
                  <li class="nav-item">
                        <a class="nav-link text-dark" href="/agent">Գործակալ</a>
                    </li>
 <!--                   <li>
                        <a class="nav-link text-dark" href="/api" target="_blank">API</a>
                    </li>-->
                    <li>
                        <a class="nav-link text-dark" (click)="openLogoutDialog()" >ելք</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</header>
