    <div class="container">

        <div class="example-button-row  createButten">
            <button class="mat-button" mat-raised-button (click)="this.openCreateDialog()" >Ավելացնել</button>
        </div>
        <mat-card class="example-card">
            <img mat-card-image src="assets/images/tner.png" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <h4>name</h4>
                <h4>Kod</h4>
                <p>price</p>
                <p>addres</p>
                <p>
                   descreption
                </p>

            </mat-card-content>
            <mat-card-actions>
                <button mat-button (click)="this.openBuyTypeDialog()" >Վարձով</button>
                <button mat-button > <a routerLink="/buyAll/buy">Գնել</a></button>
            </mat-card-actions>
        </mat-card>

    </div>


