<form [formGroup]="form" class="example-form">
    <div class="createInput">

        <h2 mat-dialog-title>Անշարժ գույքի ավելացում</h2>
            <mat-form-field appearance="outline">
                <mat-label>Տեսակը</mat-label>
                <input formControlName="type" matInput placeholder="Տուն">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Գինը</mat-label>
                <input formControlName="price" matInput placeholder="50000$">

            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Հասցե</mat-label>
                <input formControlName="addres" matInput placeholder="Երևան Տերյան 5">
            </mat-form-field>
        <section class="example-section">
            <span>Վարձույթի տեսակ:</span>
            <mat-checkbox   (click)="this.toggleSelection()" class="selected-checkbox">Վարձով</mat-checkbox>
            <mat-checkbox class="selected-checkbox">Վաճառք</mat-checkbox>
        </section>

      <div *ngIf="this.showInput">
        <mat-form-field appearance="outline">
          <mat-label>Քանակ</mat-label>
          <input formControlName="addres" matInput placeholder="5">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>ժամանակահատված</mat-label>
          <input formControlName="addres" matInput placeholder="6 ամիս և ավել">
        </mat-form-field>
      </div>
        <div class="form-group">
            <label  for="imageUpload">Նկարի ավելացում</label>
                <input type="file" id="imageUpload" name="imageUpload" (change)="onFileSelected($event)">
                <label for="imageUpload" class="custom-file-upload">
                  <mat-icon>
                    upload_file
                  </mat-icon>
                </label>
              <div class="image-column">
                <div *ngFor="let imgUrl of imageUrl" class="image-container">
                  <img *ngIf="imgUrl" [src]="imgUrl" alt="Selected Image" class="selected-image">
                </div>
              </div>


        </div>

            <mat-form-field appearance="outline">
                <mat-label>Նկարագրություն</mat-label>
                <textarea formControlName="descreption" cols="10" rows="5" matInput placeholder="Նկարագրություն"></textarea>
                <mat-error>{{V_MSG.maxlengths(200)}}</mat-error>
            </mat-form-field>
        <div class="butPosetion">
            <button mat-button [mat-dialog-close]="true">Չեղարկել</button>
            <button mat-button class="but">Հաստատել</button>

        </div>


    </div>

</form>
