<form class="example-form">
    <div class="createInput">

        <h2 mat-dialog-title>Անշարժ գույքի ավելացում</h2>
            <mat-form-field appearance="outline">
                <mat-label>Տեսակը</mat-label>
                <input matInput placeholder="Տուն">
            </mat-form-field>
     
            <mat-form-field appearance="outline">
                <mat-label>Գինը</mat-label>
                <input matInput placeholder="50000դրամ">
            </mat-form-field>
     
            <mat-form-field appearance="outline">
                <mat-label>Հասցե</mat-label>
                <input matInput placeholder="Երևան Տերյան 5">
            </mat-form-field>
        <section class="example-section">
            <span>Վարձույթի տեսակ:</span>
            <mat-checkbox class="example-margin">Վարձով</mat-checkbox>
            <mat-checkbox class="example-margin">Վաճառք</mat-checkbox>
        </section>
            <mat-form-field appearance="outline">
                <mat-label>Նկարագրություն</mat-label>
                <textarea cols="10" rows="5" matInput placeholder="Նկարագրություն"></textarea>
            </mat-form-field>
        <div class="butPosetion">
            <button mat-button [mat-dialog-close]="true">Չեղարկել</button>
            <button mat-button class="but">Հաստատել</button>

        </div>
           
        
    </div>
   
</form>