.createInput {
    width: 400px;
}

.example-form {
    display: flex;
    justify-content: center;
}

.but {
    background-color: #ff7f0e !important;
    color: white !important;
}

.butPosetion {
    display: flex;
    justify-content: flex-end;
}
