<form [formGroup]="form" class="example-form">
    <div class="createInput">

        <h2 mat-dialog-title>Անշարժ գույքի ավելացում</h2>
            <mat-form-field appearance="outline">
                <mat-label>Տեսակը</mat-label>
                <input formControlName="type" matInput placeholder="Տուն">
                <mat-error>{{V_MSG.REQUIRED}}</mat-error>
                <mat-error>{{V_MSG.amLetters_space}}</mat-error>
            </mat-form-field>
     
            <mat-form-field appearance="outline">
                <mat-label>Գինը</mat-label>
                <input formControlName="price" matInput placeholder="50000դրամ">
                <mat-error>{{V_MSG.REQUIRED}}</mat-error>
                <mat-error>{{V_MSG.only_digits}}</mat-error>
            </mat-form-field>
     
            <mat-form-field appearance="outline">
                <mat-label>Հասցե</mat-label>
                <input formControlName="addres" matInput placeholder="Երևան Տերյան 5">
                <mat-error *ngIf="this.form.get('addres').errors.requkired">{{V_MSG.REQUIRED}}</mat-error>
                <mat-error>{{V_MSG.amLetters_space}}</mat-error>   
            </mat-form-field>
        <section class="example-section">
            <span>Վարձույթի տեսակ:</span>
            <mat-checkbox class="example-margin">Վարձով</mat-checkbox>
            <mat-checkbox class="example-margin">Վաճառք</mat-checkbox>
        </section>
            <mat-form-field appearance="outline">
                <mat-label>Նկարագրություն</mat-label>
                <textarea formControlName="descreption" cols="10" rows="5" matInput placeholder="Նկարագրություն"></textarea>
                <mat-error>{{V_MSG.maxlengths(200)}}</mat-error>
            </mat-form-field>
        <div class="butPosetion">
            <button mat-button [mat-dialog-close]="true">Չեղարկել</button>
            <button mat-button class="but">Հաստատել</button>

        </div>
           
        
    </div>
   
</form>